<!-- Create Paciente-->

@model MedicalPLE.Models.ViewModels.PacienteVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Crear Paciente</h3>
<!-- Creo un formulario que buscara el metodo Create del controlador que va por post-->
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
       <!-- Vaidacion de campos del formulario, traera los mensajes que se tengan en el modelo-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NumeroDocumento">No. Documento</label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.NumeroDocumento" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.NumeroDocumento" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.NumeroDocumento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombreApellido">Nombres y Apellidos Paciente</label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombreApellido" class="form-control" type="text" maxlength="400" />
                    <span asp-validation-for="Paciente.NombreApellido" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.FechaNacimiento">Fecha de Nacimiento</label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.FechaNacimiento" class="form-control" type="datetime-local"/>
                    <span asp-validation-for="Paciente.FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Edad">Edad Paciente</label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.Edad" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.Edad" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.Edad" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.LugarNacimiento">Lugar de Nacimiento</label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.LugarNacimiento" class="form-control" type="text" maxlength="400" />
                    <span asp-validation-for="Paciente.LugarNacimiento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Nacionalidad">Nacionalidad Paciente</label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Nacionalidad" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.Nacionalidad" class="text-danger"></span>
                </div>
            </div>

             <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TipodocId">Tipo de Documento</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.TipodocId, Model.ListaTipodoc,
                     "-Por favor seleccione Tipo de Documento-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.EstadoCivilId">Estado Civil</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.EstadoCivilId, Model.ListaEstadoCivil,
                     "-Por favor seleccione Estado Civil-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.GeneroId">Genero Paciente</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.GeneroId, Model.ListaGenero,
                     "-Por favor seleccione Genero Paciente-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TipoSangreId">Tipo de Sangre</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.TipoSangreId, Model.ListaTipoSangre,
                     "-Por favor seleccione Tipo de Sangre-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.EpsId">Eps del Pasiente</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.EpsId, Model.ListaEps,
                     "-Por favor seleccione Eps del Pasiente-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CiudadId">Ciudad</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.CiudadId, Model.ListaCiudad,
                     "-Por favor seleccione Ciudad-", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <!-- Vista parcial reutilizada en distintos formularios para Volver -->
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>



<!-- UTILIDADES -->
<!-- Acordeon -->
<!--<button type="button" class="accordionple">Nombre de la seccion</button>
<div class="panelaccordionple">
    <br />-->
<!-- La informacion o los objetos van AQUI -->
<!--</div>-->

<!-- --=====================================================-- -->