@model MedicalPLE.Models.ViewModels.PacienteVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Crear Paciente</h3>
<!-- Creo un formulario que buscara el metodo Create del controlador que va por post-->
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
       <!-- Vaidacion de campos del formulario, traera los mensajes que se tengan en el modelo-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NumeroDocumento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NumeroDocumento" class="form-control" type="text" maxlength="100" />
                    <span asp-validation-for="Paciente.NumeroDocumento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombresApellidos"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombresApellidos" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombresApellidos" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Fechanacimiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Fechanacimiento" class="form-control" type="datetime-local"/>
                    <span asp-validation-for="Paciente.Fechanacimiento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Edad"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.Edad" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.Edad" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.Edad" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Lugarnacimiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Lugarnacimiento" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.Lugarnacimiento" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Nacionalidad"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Nacionalidad" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.Nacionalidad" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Embarazo"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.Embarazo" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.Embarazo" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.Embarazo" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.UltimaMestruacion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.UltimaMestruacion" class="form-control" type="datetime-local"/>
                    <span asp-validation-for="Paciente.UltimaMestruacion" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Semanaembarazo"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.Semanaembarazo" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.Semanaembarazo" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.Semanaembarazo" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Numeroembarazo"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="Paciente.Numeroembarazo" class="form-control"  type="number"  min="1" max="5"/>*@
                    <input asp-for="Paciente.Numeroembarazo" class="form-control"  type="number" />
                    <span asp-validation-for="Paciente.Numeroembarazo" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Direccion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Direccion" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.Direccion" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Barrio"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Barrio" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.Barrio" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Correo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Correo" class="form-control" type="email"/>
                    <span asp-validation-for="Paciente.Correo" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Fijo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Fijo" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.Fijo" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.Celular"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.Celular" class="form-control" type="text" maxlength="100" />
                    <span asp-validation-for="Paciente.Celular" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombreResponsable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombreResponsable" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombreResponsable" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.FijoResponsable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.FijoResponsable" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.FijoResponsable" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CelularResponsable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.CelularResponsable" class="form-control" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" />
                    <span asp-validation-for="Paciente.CelularResponsable" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombreReferida"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombreReferida" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombreReferida" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.FijoReferido"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.FijoReferido" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.FijoReferido" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CelularReferido"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.CelularReferido" class="form-control" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" />
                    <span asp-validation-for="Paciente.CelularReferido" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.ReferidoPor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.ReferidoPor" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.ReferidoPor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombreAcompanante"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombreAcompanante" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombreAcompanante" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.FijoAcompanante"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.FijoAcompanante" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.FijoAcompanante" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CelularAcompanante"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.CelularAcompanante" class="form-control" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" />
                    <span asp-validation-for="Paciente.CelularAcompanante" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombreMadreMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombreMadreMenor" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombreMadreMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CedulaMadreMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.CedulaMadreMenor" class="form-control" type="text" maxlength="100" />
                    <span asp-validation-for="Paciente.CedulaMadreMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TelefonoMadreMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.TelefonoMadreMenor" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.TelefonoMadreMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.OcupacionMadreMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.OcupacionMadreMenor" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.OcupacionMadreMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.NombrePadreCuidadorMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.NombrePadreCuidadorMenor" class="form-control" type="text" maxlength="300" />
                    <span asp-validation-for="Paciente.NombrePadreCuidadorMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.CedulaPadreCuidadorMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.CedulaPadreCuidadorMenor" class="form-control" type="text" maxlength="200" />
                    <span asp-validation-for="Paciente.CedulaPadreCuidadorMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TelefonoPadreCuidadorMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.TelefonoPadreCuidadorMenor" class="form-control" placeholder="123-45-78" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" type="tel" />
                    <span asp-validation-for="Paciente.TelefonoPadreCuidadorMenor" class="text-danger"></span>
                </div>
            </div>

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.OcupacionPadreCuidadorMenor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Paciente.OcupacionPadreCuidadorMenor" class="form-control" type="text" maxlength="200" />
                    <span asp-validation-for="Paciente.OcupacionPadreCuidadorMenor" class="text-danger"></span>
                </div>
            </div>

             <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TipodocId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.TipodocId, Model.ListaTipodoc,
                     "-Por favor seleccione Tipodoc-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.TiposangreId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.TiposangreId, Model.ListaTiposangre,
                     "-Por favor seleccione Tiposangre-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.EstadocivilId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.EstadocivilId, Model.ListaEstadocivil,
                     "-Por favor seleccione Estadocivil-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.GeneroId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.GeneroId, Model.ListaGenero,
                     "-Por favor seleccione Genero-", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Paciente.EpsId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Paciente.EpsId, Model.ListaEps,
                     "-Por favor seleccione Eps-", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-4">
                    <!-- Vista parcial reutilizada en distintos formularios para Volver -->
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>









