<!-- Create Paciente-->
@model MedicalPLE.Models.ViewModels.PacienteVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Crear Paciente</h3>
<!-- Creo un formulario que buscara el metodo Create del controlador que va por post-->
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
        <!-- Vaidacion de campos del formulario, traera los mensajes que se tengan en el modelo-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">

            <button type="button" class="accordionple">Nombre de la seccion</button>
            <div class="panelaccordionple">
                <br />
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.NumeroDoc">No. Documento</label>
                    </div>
                    <div class="col-8">
                        @*<input asp-for="Paciente.NumeroDoc" class="form-control"  type="number"  min="1" max="5"/>*@
                        <input asp-for="Paciente.NumeroDoc" class="form-control" type="number" />
                        <span asp-validation-for="Paciente.NumeroDoc" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.NombreApellido">Nombres y Apellidos Paciente</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Paciente.NombreApellido" class="form-control" type="text" maxlength="400" />
                        <span asp-validation-for="Paciente.NombreApellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.Edad">Edad Paciente</label>
                    </div>
                    <div class="col-8">
                        @*<input asp-for="Paciente.Edad" class="form-control"  type="number"  min="1" max="5"/>*@
                        <input asp-for="Paciente.Edad" class="form-control" type="number" />
                        <span asp-validation-for="Paciente.Edad" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.Nacionalidad">Nacionalidad</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Paciente.Nacionalidad" class="form-control" type="text" maxlength="300" />
                        <span asp-validation-for="Paciente.Nacionalidad" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.TipodocId">Tipo de Documento</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Paciente.TipodocId, Model.ListaTipodoc,
                         "-Por favor seleccione Tipo de Documento-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.TiposangreId">Tipo de Sangre</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Paciente.TiposangreId, Model.ListaTiposangre,
                         "-Por favor seleccione Tipo de Sangre-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.EstadocivilId">Estado Civil</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Paciente.EstadocivilId, Model.ListaEstadocivil,
                         "-Por favor seleccione Estado Civil-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.GeneroId">Genero del Paciente</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Paciente.GeneroId, Model.ListaGenero,
                         "-Por favor seleccione Genero del Paciente-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Paciente.CiudadId">Lugar de Nacimiento</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Paciente.CiudadId, Model.ListaCiudad,
                         "-Por favor seleccione Lugar de Nacimiento-", new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <br/>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <!-- Vista parcial reutilizada en distintos formularios para Volver -->
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>





